<div class="container">
    <div class="col-md-12 mx-auto my-3">
        <div class="card">
            <div class="card-header text-center bg-secondary bg-opacity-50">
                <h3>Nouvel article</h3>
            </div>
            <div class="card-body">
                <form action="/admin/articles/new-article" method="POST" enctype="multipart/form-data">
                    <div class="form-group mb-2">
                        <input type="text" name="title" class="form-control" placeholder="Titre de l'article" autofocus>
                    </div>
                    <div class="form-group mb-2">
                        <textarea id="content" name="content" class="form-control" placeholder="Contenu de l'article"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" name="description" class="form-control" minlength="3" maxlength="150" placeholder="Description de l'article">
                    </div>
                    <div class="mt-3 w-50 custom-file">
                        <input
                            type="file"
                            name="formFile"
                            id="formFile"
                            class="form-control custom-file-input"
                            accept=".jpg, .jpeg, .png, .webp"
                        />
                        <label for="formFile" class="custom-file-label mb-2">5 Mb maximum</label>
                    </div>
                    <div class="preview-images w-25 mb-3">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary btn-block" type="submit">
                            Enregistrer l'article
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .attr("class", "w-75")
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#formFile").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
</script>