</main>

<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2023 
    <a href="/" class="link-info"> Lorem Ipsum</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->