<header
  class="masthead">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <img src="https://picsum.photos/600/300" alt="image_header">
        <div class="post-heading">
          <h1 class="title">Lorem ipsum dolor sit amet.</h1>
          <p class="author"></p>
          <h2 class="subheading">Lorem ipsum dolor sit amet. Et nemo debitis est
            maxime minus et ipsam similique ab porro laborum ut deleniti
            consequatur ut velit fugiat.</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Lorem ipsum dolor sit amet. Non minima modi est iusto explicabo quo
          minima velit sed sint ipsa ut nulla eaque. Cum cupiditate minima hic
          optio excepturi sit dolor odio aut optio consectetur ea veritatis
          veritatis ea voluptate architecto qui facere facere.
        </p>
 <h2 class="section-heading">The Final Frontier</h2>
        <p>33 aliquid sequi in quisquam deserunt ut adipisci explicabo non
          galisum assumenda qui nobis quod aut alias reprehenderit. Rem expedita
          tempore est minus galisum et odio eveniet et dolores galisum eum
          excepturi corrupti. Aut fugit ullam et sint debitis ad perspiciatis
          fugiat.</p>
        <blockquote class="blockquote">The dreams of yesterday are the hopes of
          today and the reality of tomorrow. Science has not yet mastered
          prophecy. We predict too much for the next year and yet far too little
          for the next ten.</blockquote>
        <p>Spaceflights cannot be stopped. This is not the work of any one man
          or even a group of men. It is a historical process which mankind is
          carrying out in accordance with the natural laws of human development.</p>
        <h2 class="section-heading">Reaching for the Stars</h2>
        <p>As we got further and further away, it [the Earth] diminished in
          size. Finally it shrank to the size of a marble, the most beautiful
          you can imagine. That beautiful, warm, living object looked so
          fragile, so delicate, that if you touched it with a finger it would
          crumble and fall apart. Seeing this has to change a man.</p>
        <a href="#!"><img
            class="img-fluid"
            src="https://picsum.photos/200/300"
            alt="..."
          /></a>
        <p>Space, the final frontier. These are the voyages of the Starship
          Enterprise. Its five-year mission: to explore strange new worlds, to
          seek out new life and new civilizations, to boldly go where no man has
          gone before.</p>
        <p>As I stand out here in the wonders of the unknown at Hadley, I sort
          of realize there’s a fundamental truth to our nature, Man must
          explore, and this is exploration at its greatest.</p>

      </div>
    </div>
  </div>
</article>