<h2 class="text-center text-dark my-5">Créer un article</h2>

<section class="container">
  <form action="/success_article" method="post">
    <input
      class="form-control form-control-lg mb-2"
      type="text"
      placeholder="Titre de l'article"
      name="title"
    />

    <input
      class="form-control form-control-sm mb-2"
      type="text"
      placeholder="Auteur de l'article"
      name="author"
    />

    <textarea
      class="form-control mb-2"
      rows="10"
      placeholder="Contenu de l'article"
      name="content"
    ></textarea>

    <div class="mt-3 w-50 custom-file">
      <input
        accept="image/*"
        type="file"
        name="formFile"
        id="formFile"
        class="form-control custom-file-input"
        value=""
      />
      <label for="formFile" class="custom-file-label"></label>
      <img id="preview" class="mt-3 w-25 img-fluid" />
    </div>

    <div class="col-lg col-lg-offset text-center">
      <button type="submit" class="btn btn-outline-dark">Envoyer</button>
    </div>
  </form>
</section>

<script>
  $(document).ready(function (e) { $('input[type="file"]').on('change', (e) => {
  console.log('change file'); let that = e.currentTarget if (that.files &&
  that.files[0]) { $(that).next('.custom-file-label').html(that.files[0].name)
  let reader = new FileReader() reader.onload = (e) => {
  $('#preview').attr('src', e.target.result) }
  reader.readAsDataURL(that.files[0]) } }) });
</script>