<section>
  <div class="container d-flex">
    <section class="card w-25 m-5">
      <img
        src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
        class="card-img-top"
        alt="Fissure in Sandstone"
      />
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <article class="card-text"><a href="/article">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            qui asperiores nulla fuga ea tenetur velit quibusdam aspernatur!
            Minus tenetur inventore velit vitae cupiditate, asperiores officia
            quod error provident consectetur.</a></article>
        <div class="col-lg col-lg-offset text-center">
          <a href="/article" class="btn btn-info mt-3">En savoir +</a>
        </div>
      </div>
    </section>

    <section class="card w-25 m-5">
      <img
        src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
        class="card-img-top"
        alt="Fissure in Sandstone"
      />
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <article class="card-text"><a href="#">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            qui asperiores nulla fuga ea tenetur velit quibusdam aspernatur!
            Minus tenetur inventore velit vitae cupiditate, asperiores officia
            quod error provident consectetur.</a></article>
        <div class="col-lg col-lg-offset text-center">
          <a href="#" class="btn btn-dark mt-3">En savoir +</a>
        </div>
      </div>
    </section>

    <section class="card w-25 m-5">
      <img
        src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
        class="card-img-top"
        alt="Fissure in Sandstone"
      />
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <article class="card-text"><a href="#">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            qui asperiores nulla fuga ea tenetur velit quibusdam aspernatur!
            Minus tenetur inventore velit vitae cupiditate, asperiores officia
            quod error provident consectetur.</a></article>
        <div class="col-lg col-lg-offset text-center">
          <a href="#" class="btn btn-dark mt-3">En savoir +</a>
        </div>
      </div>
    </section>
  </div>
</section>