<h2 class="text-center text-dark my-5">Inscription</h2>

<section class="container mt-5 w-50">
  <form action="/welcome" method="post">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="email">Adresse email</label>
      <input type="email" id="email" name="email" class="form-control" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div>

    <!-- Submit button -->
    <div class="text-center ">
      <button type="submit" class="btn btn-outline-dark">S'inscrire</button>
    </div>
  </form>
</section>