<div class="d-flex align-items-center justify-content-center">
    <h2 class="display-1 fw-bold text-dark">403</h2>
</div>
<div class="d-flex align-items-center justify-content-center">
    <p class="mt-5">Accès interdit !</p>
</div>