<div class="d-flex align-items-center justify-content-center">
    <h2 class="display-1 fw-bold text-dark">404</h2>
</div>
<div class="d-flex align-items-center justify-content-center">
    <p class="mt-5">Ceci est une page 404 personnalisée</p>
</div>